  body {
    font-family: "Gotham Pro";
  }

.content {
	max-width: 1170px;
	margin: 0 auto;
	width: 89.5%;
}

.header {
	display: flex;
	align-items: center;
    justify-content: space-between;
	margin-right: 140px;
	margin-bottom: 27px;
	}

.header__inner-left {
	width: 42%;
	font-weight: bold;
}

.header__inner-right {
	width: 40%;
	font-weight: bold;
}

.header__logo {
	width: 55px; 
	height: 55px;
	padding-right: 10px;
}

.header__nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__search input {
	border: 0;
}

.header__search {
	border-bottom: 1px solid black;
	padding-right: 6px;
}

.header__nav a:nth-child(3) {
	display: flex;
	align-items: center;
}

.header__cart1 {
	padding-left: 3.95px;
}

.nav-item {
	color: black;
	font-weight: bold;
	font-size: 12px;
}

.nav-item:hover {
	color: red;
}

a {
	text-decoration: none;
}

.main__img1 {
	width: 1030px; 
	height: 281px;
	margin-bottom: 30px;
}

.main__img2 {
	padding-left: 6px;
}

.main__title {
    position: absolute;
    top: 97px;
    width: 85px;
	margin-right: 970.42px;
	padding: 60px;
    }
	
.main__title span {
    color: white;
    font-size: 30px;
	height: 30px;
    }

.main__subtitle {
    position: absolute;
    top: 199px;
    width: 152px;
	margin-right: 970.42px;
	padding: 60px;
    }
	
.main__subtitle span {
    color: white;
    font-size: 12px;
	height: 12px;
    }

.product__box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.product__box div:nth-of-type(1n+2) {
	margin-left: 41px;
}

.product__item {
	color: black;
	font-size: 12px;
	width: 230px;
	height: 261px;
	margin-left: 20px;
}

.item-pic {
	width: 187.86px;
	height: 173.07px;
}

.product-status__price {
	font-weight: bold;
	font-size: 14px;
	width: 85.85px;
	height: 24px;
}

.product-status__colours {
	width: 40px;
	height: 9px;
}

.product-status div:nth-of-type(1n+2) {
	margin-left: 66.15px;
}

.product__title {
	text-align: center;
}

.main-title {
	text-transform: uppercase;
	position: absolute;
}

h1 {
	line-height: 29px;
	font-weight: bold;
	}

h2 {
	font-size: 22px;
	font-weight: bold;
	}

.desc__img {
	width: 628px;
	height: 345px;
	margin-right: 357px;
	padding: 74px;
}

.product {
	margin-right: 140px;
	margin-bottom: 46.64px;
}

.product__title {
	position: center;
}

.desc {
	margin-right: 140px;
	background: black;
	color: white;
}

.stories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.stories__title {
	display: flex;
	flex-direction: column-reverse;
}