  body {
    font-family: "Gotham Pro";
  }

.content {
	max-width: 1170px;
	margin: 0 auto;
	width: 89.5%;
}

.header {
	display: flex;
	align-items: center;
    justify-content: space-between;
	margin-right: 140px;
	margin-bottom: 27px;
	}

.header__inner-left {
	width: 42%;
	font-weight: bold;
}

.header__inner-right {
	width: 40%;
	font-weight: bold;
}

.header__logo {
	width: 55px; 
	height: 55px;
	padding-right: 10px;
}

.header__nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__search input {
	border: 0;
}

.header__search {
	border-bottom: 1px solid black;
}

.header__nav a:nth-child(3) {
	display: flex;
	align-items: center;
}

.header__cart1 {
	padding-left: 3.95px;
}

.header__button {
	margin: 0;
	padding: 0;
	border: none;
}

.nav-item {
	color: black;
	font-weight: bold;
	font-size: 12px;
}

.nav-item:hover {
	color: red;
}

a {
	text-decoration: none;
}

.main__img1 {
	width: 1030px; 
	height: 281px;
	margin-bottom: 30px;
}

.main__img2 {
	padding-left: 6px;
}

.main__title {
    position: absolute;
    top: 97px;
    width: 85px;
	margin-right: 970.42px;
	padding: 60px;
    }
	
.main__title span {
    color: white;
    font-size: 30px;
	height: 30px;
    }

.main__subtitle {
    position: absolute;
    top: 199px;
    width: 152px;
	margin-right: 970.42px;
	padding: 60px;
    }
	
.main__subtitle span {
    color: white;
    font-size: 12px;
	height: 12px;
    }
	
.main__subtitle span:hover {
    color: red;
}

a {
	text-decoration: none;
}

.product__vector {
	display: flex;
	justify-content: space-between;
	margin-bottom: 56px;
}

.product__box {
	height: 232px;
	width: 1020px;
	margin-right: 36px;
	margin-left: 6px;
}

.product__sections {
	height: 232px;
	width: 1020px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product {
	width: 1030px;
	height: 298px;
}
.product__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: black;
	font-size: 12px;
	width: 220px;
	height: 232px;
}

.item_img {
	width: 100%; /* Ширина области */
    height: 173px; /* Высота области */
    margin: 0; /* Обнуляем отступы */
    overflow: hidden; /* Прячем всё за пределами */
    max-width: 188px; /* Максимальная ширина */
	margin-bottom: 15px;
}

.item_pic {
	width: 100%; 
    margin: -10% 0 0 0;
}

.product__link {
	color: black;
	width: 208px;
	height: 12px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.product__link:hover {
    color: red;
}

.product-status {
	width: 208px;
	height: 15px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-status__price {
	display: flex;
	font-size: 14px;
	font-weight: bold;
	width: 95.85px;
	height: 15px;
	align-items: center;
	justify-content: flex-start;
}

.product-status__colours {
	display: flex;
	width: 15px;
	height: 9px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-right: 24px;
}

.product__title {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.main-title {
	text-transform: uppercase;
	position: absolute;
}

h1 {
	line-height: 29px;
	font-weight: bold;
	}

h2 {
	font-size: 22px;
	font-weight: bold;
	}

.desc {
	margin-right: 140px;
	background: black;
	color: white;
	width: 1030px; 
	height: 494px;
	margin-top: 30px;
}

.desc__img {
	width: 645px;
	height: 362px;
	margin-left: 31px;
	margin-top: 65px;
}

.desc__title {
	font-size: 22px;
	margin-left: 71px;
	line-height: 28px;
	padding-top: 152px
}

.desc__text {
	font-size: 14px;
	margin-left: 716px;
}

.desc__subtitle {
	font-size: 12px;
	color: white;
	margin-left: 716px;
}

.desc__subtitle:hover {
	color: red;
}

.desc__img2 {
	padding-left: 8px;
}

.stories {
	display: ;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.stories__title {
	display: flex;
	flex-direction: column-reverse;
}